.profilepage__post {
  margin-bottom: 10px;
  max-width: 90vw;
}

.profilepage__post > button {
  width: 90vw;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 5px;
}

.profilepage__post > button.color78934F {
  background: #78934f;
}
.profilepage__post > button.color9C5B5B {
  background: #9c5b5b;
}
.profilepage__post > button.colorE7AB20 {
  background: #e7ab20;
}
.profilepage__post > button.colorDE726B {
  background: #de726b;
}
.profilepage__post > button.color4F5A93 {
  background: #4f5a93;
}

.profilepage__post > div {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  word-break: break-all;
}

.profilepage__post div > header {
  display: flex;
  justify-content: flex-end;
}

.MuiIconButton-root {
  color: #808080;
}

.profilepage__post p {
  color: #808080;
}
